@{
  Layout = "_Layout";
}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Ellas Order's</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="~/css/styles.css">
</head>

<body>
  <h1>Hey! Wanna get rid of an order?</h1>
  <h2>Good! Because you sure did that exact thing!</h2>
  <h1><a href='/'>Why are you still here? Go back to the start page pls!</a></h1>
</body>